button{
    position:relative;
    margin-left:38%;
    /* margin-right:50%;  */
    margin-top:10px;
    width:100px;
    border:2px solid  green ;
    border-radius:12px;
}
button:focus{
    outline:0px;
}
button:hover{
    background-color:white;
}
button[id='set'],[id='add']{
    margin-left:0%;
}
#work-space,#workspace2,#workspace4{
    margin-left:38%;
    /* padding: 10px; */
}
input{
    border:2px solid  green ;
    border-radius:12px;
    font-family: 'Ubuntu', sans-serif;
    padding:3%;
    box-sizing:border-box;
}
input:focus{
  box-shadow:5px 2px 8px 10px lightblue; 
  outline:0px;
}
