:root {
    --theme-red: #BA453E;
    --theme-blue: #131927;
    --theme-red-bright: #DD453E;
}

main{
	height: 100vh !important;
	width: 100vw !important;
	/*position: relative;*/
	overflow-x: hidden;
	scroll-behavior: smooth;
}
img{
	max-width: 100%;
	max-height: 100%;
}
aside{
	height: 100vh;
	width: auto;
	position: fixed;
}
section{
	display: flex;
	flex-grow: 1;
}
body{
	background-color: var(--theme-blue);
	font-family: 'Varela Round', sans-serif;
}
.full-screen{
	height: 100vh;
}
.center-head{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100%;
	color: var(--theme-red);
}
.head-font{
	font-size: 80px;
}
.center-icon{
    align-items: center;
	justify-content: center;
	margin-top: 35vh;
	float: left !important;
	color: var(--theme-red);
	position: fixed;
}
.center-icon a{
	text-decoration: none;
	color: var(--theme-red);
}
.my-font{
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
}
.theme-red{
	color: var(--theme-red);
}
.static-logo-bubble{
	position: fixed;
	bottom: -60px;
	right: -60px;
	width: 180px;
	height: 180px;
	background-color: var(--theme-red);
	z-index: 5;
	border-radius: 100%;
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
}
.static-logo-bubble:hover{
	height: 200px;
	width: 200px;
}
.static-logo-bubble img{
	max-width: 40px;
	margin-left: 50px;
	margin-top: 25px;
}
.form-control{
	color: white;
	border: 3px solid var(--theme-red);
	background-color: var(--theme-blue);
}
.form-control:focus{
	box-shadow: none;
	color: white;
	border: 3px solid var(--theme-red);
	background-color: var(--theme-blue);
}
.my-reg-btn{
	background-color: var(--theme-red);
	border: 3px solid var(--theme-red)
}
.my-reg-btn:hover{
	background-color: var(--theme-red);
	border: 3px solid var(--theme-red)
}
.my-reg-btn:active{
	background-color: var(--theme-red);
	border: 3px solid var(--theme-red)
}
label{
	color: #60757D;
}
.scroll-bar{
	/* position: relative; */
	overflow: hidden;
}
.scroll-bar li{
    color: white;
}
.center-icon-mob{
    display: none;
}
@media only screen and (max-width: 526px) {
	aside {
		width: 100vw;
		height: auto;
		position: relative;
	}
	.head-font{
		font-size: 40px;
	}
	.static-logo-bubble{
		width: 100px;
		height: 100px;
		bottom: -30px;
		right: -30px;
	}
	.static-logo-bubble:hover{
		height: 120px;
		width: 120px;
	}
	.static-logo-bubble img{
		max-width: 26px;
		margin-left: 25px;
		margin-top: 10px;
		-webkit-transition: max-width 1s, margin-left 1s, margin-top 1s;
		transition: max-width 1s, margin-left 1s, margin-top 1s;
	}
	.static-logo-bubble img:hover{
		max-width: 30px;
		margin-left: 35px;
		margin-top: 15px;
	}

    .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    .center-icon-mob{
        display: block;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .center-icon-mob a{
        color: var(--theme-red-bright);
        text-decoration: none;
    }
    .myicon-font{
        font-family: 'Varela Round', sans-serif !important;
        font-size: 20px;
    }
    #register{
		margin-top: 50vh;
	}
}
@media only screen and (max-width: 1000px) {
	aside {
		width: 100vw;
		height: auto;
		position: relative;
	}
	.head-font{
		font-size: 40px;
	}
	.first {
        order: 1;
    }
    .second {
        order: 2;
	}
	.center-icon{
		display: none;
	}
	.static-logo-bubble{
		width: 100px;
		height: 100px;
		bottom: -30px;
		right: -30px;
	}
	.static-logo-bubble:hover{
		height: 120px;
		width: 120px;
	}
	.static-logo-bubble img{
		max-width: 26px;
		margin-left: 25px;
		margin-top: 10px;
		-webkit-transition: max-width 1s, margin-left 1s, margin-top 1s;
		transition: max-width 1s, margin-left 1s, margin-top 1s;
	}
	.static-logo-bubble img:hover{
		max-width: 30px;
		margin-left: 35px;
		margin-top: 15px;
	}
	#register{
		margin-top: 70vh;
	}

}
@media only screen and (min-width: 1000px) {
	::-webkit-scrollbar {
		width: 6px;
	  }

	  /* Track */
	  ::-webkit-scrollbar-track {
		background: var(--theme-blue);
	  }

	  /* Handle */
	  ::-webkit-scrollbar-thumb {
		background: var(--theme-red);
		border-radius: 3px;
	  }

	  /* Handle on hover */
	  ::-webkit-scrollbar-thumb:hover {
		background: var(--theme-red);
	  }

}
